.header {
  padding: 25px;
  width: 100vw;
  border-bottom: 2px solid var(--secondary-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exit {
  color: var(--txt-color);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.exit:hover {
  color: var(--alert-color);
}
