.form {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 15px;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-bottom: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dateEtHeure {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.allbuttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-top: 15px;
}
